<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/robot.png">
        <h2>My name is Robo.</h2>
        <h3>I can tell you about today's forecast.</h3>
        </div> 
        {{>footer}}
    </body>
</html>