<!DOCTYPE html>
<html>
    <head>
        <title>
            Help
        </title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        
        <h2>This is a help page</h2>
        <h3>How can I help you.</h3>
        <textarea name="query" rows="7" cols="40"></textarea>
        <br><br>
         <button>Submit</button>
        </div>
        
        {{>footer}}
    </body>
</html>